html, body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

body {
  background-color: #f1f1f1;;
}

.container, .container-logo  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container {
  justify-content: center;
  align-content: center;
  flex: 0 0 30%;
}
.white {
  background-color: white;
  width: 100%;
}

.container-footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(39, 36, 36);
}

.container-logo {
  flex: 0 0 12%;
  justify-content: space-evenly;
  color: white;
}


.container-items, .container-contact  {
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 15px;
}

.container-items {
  flex-flow: column wrap;
  flex: 0 0 20%;
}

.item-title {
  font-size: 24px;
  font-weight:900;
}

.container-contact {
  flex-flow: row nowrap;
  flex: 0 0 100%
}

.no-padding {
  padding: 0px;
  margin: 0px;
}

.img, .img-big {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img {
  width: auto;
  max-width:150px;
  max-height:95px;
}
.img-big {
  width: 100%;
  height: 325px;
}
.img-small {
  max-width: 30px;
  max-height: 30px;
  margin-top: 20px;
}

.circle {
  background: white; 
  border-radius: 120px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  padding-top: 40px;
}

.container-image {
  position: relative;
  width: 325px;
  height: 325px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: #00cd6e;
}

.overlay {
  opacity: 0.8;
}

.container-image:hover .overlay {
  opacity: 1;
}

.text, .text-secondary {
  white-space: normal;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width:300px
}

.text {
  top: 25%;
  font-size: 24px;
  font-weight:900;
}
.text-secondary {
  top: 50%;
}

.input-line {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin:15px;
  width: 100%;
  font-size: 16px;
}

.button {
  background-color: #00cd6e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 60px;
  margin-top: 20px;
}

.text-contact {
  margin-top: 10px;
  margin-left: 15px;
  max-width: 150px;
  font-size: 12px;
  color: #505050;
}

.a-style {
  display: flex;
  flex-direction: row;

}

.footer-a {
  text-decoration: none;
  color: white;
  padding: 15px;
}


.footer-a:hover {
  background-color: rgb(57, 52, 52);;
}

@media (max-width: 1064px) {
  .container, .container-contact, .container-footer, .a-style {
    flex-direction: column;
  }
  .a-style {
    flex-grow: 0;
    width: 80%;
    text-align: center;

  }
  .footer-a {
    width: 100%;
    border-bottom: #4e4e4e 1px solid;
    align-self: flex-end;
  }
  .container-logo {
    width: 25%;
  }
  .container-items {
    width: 60%;
  }
}



